body{
    
}
.coluna div{
    width: 100px;
    
    font-size: 3em;
border: solid 5px;
padding: 20px ;
margin: 10px;
}

.coluna .cor1{
border: solid 10px blueviolet;
color: blueviolet;
}
.coluna .cor2{
border: solid 10px red;
color: red;
}

.coluna .cor3{
border: solid 10px greenyellow;
color: greenyellow;
}

.coluna .cor4{
border: solid 10px blue;
color: blue;
}

.coluna .cor5{
border: solid 10px yellow;
color: yellow;
}

.coluna .cor6{
border: solid 10px grey;
color: grey;
}

#c2{
    position: absolute;
margin-top: -170px;
margin-left: 230px;
}
#c3{
    position: absolute;
margin-top: -170px;
margin-left: 430px;
}
#c4{
    position: absolute;
margin-top: -170px;
margin-left: 630px;
}
#c5{
    position: absolute;
margin-top: -170px;
margin-left: 830px;
}
#c6{
    position: absolute;
margin-top: -170px;
margin-left: 1030px;
}
#core1{

    margin-top: 90px;
}

#core2{
    position: absolute;
margin-top: -165px;
margin-left: 230px;
}
#core3{
    position: absolute;
margin-top: -165px;
margin-left: 430px;
}
#core4{
    position: absolute;
margin-top: -165px;
margin-left: 630px;
}
#core5{
    position: absolute;
margin-top: -165px;
margin-left: 830px;
}
#core6{
    position: absolute;
margin-top: -165px;
margin-left: 1030px;
}

